<%= form_for(@gestion) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :descripcion, placeholder: "Crea una nueva gestion" %>
  </div>
  <%= f.submit "Crear", class: "btn btn-large btn-primary" %>
<% end %>