<% provide(:title, @gestor.gnombre1) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      	<%= @gestor.gnombre1 %> 
      	<%= @gestor.gnombre2 %> 
      	<%= @gestor.gapellido1 %> 
      	<%= @gestor.gapellido2 %>
      </h1>
    </section>
  </aside>
</div>
