<% provide(:title, @persona.nombre1) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      	<%= @persona.nombre1 %> 
      	<%= @persona.nombre2 %> 
      	<%= @persona.apellido1 %> 
      	<%= @persona.apellido2 %>
      </h1>
    </section>
  </aside>
</div>
