<div class="center hero-unit">
  <h1>Bienvenido a SisMUG</h1>

  <h2>
    Esta es la página inicial de SisMUG
  </h2>

  <%= link_to "Eliminar este Boton!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("sismug.png", alt: "SisMUG"), '#' %>